
  <h2 class="center">Sign Up</h2>
      <div class="form-group">
        <label for="sound">Email:</label>
        <input type="text" class="form-control" #email>
      </div>
      <div class="form-group">
        <label for="sound">Password:</label>
        <input type="password" class="form-control" #password>
      </div>
      <div class="form-group">
        <label for="sound">Name:</label>
        <input type="password" class="form-control" #name>
      </div>
      <div class="center">
        <button class="btn btn-primary"  (click)="signup(email.value, password.value)" ><span class="glyphicon glyphicon-log-in"></span> Sign Up</button>
      </div>
