<footer class="footer-area">
  <div class="widgets">
      <aside class="widget">
          <h3 class="widget-title">Developers</h3>
            <p> It is a long established fact that a reader will be distracted by the readable content of a </p>
          <ul>
              <li>Miguel Chavez</li>
              <ul><li>Software Lead</li></ul>
              <li>Alexis San Javier</li>
              <ul><li>Web Devloper</li></ul>
              <li>Gianne Francis</li>
              <ul><li>Integration Specialist</li></ul>
              <li>Brandon Ma</li>
              <ul><li>Hareware Lead</li></ul>
          </ul>
      </aside><!-- .widget -->
      <aside class="widget">
            <h3 class="widget-title">What is Seq?</h3>
              <p> It is a long established fact that a reader will be distracted by the readable content of a It is a long established fact that a reader will be distracted by the readable content of a It is a long established fact that a reader will be distracted by the readable content of a </p>
        </aside><!-- .widget -->
      <aside class="widget">
          <h3 class="widget-title"> This website</h3>
          <p> The tools used in the creation of this website project were:</p>
          <ul>
              <li><a href="http://atom.io/" target="_blank">Atom</a></li>
              <li><a href="http://emmet.io/" target="_blank">Emmet</a></li>
              <li><a href="https://www.google.com/chrome/" target="_blank">Chrome</a></li>
              <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
              <li><a href="https://www.google.com/fonts/specimen/Arvo" target="_blank">Arvo (font)</a></li>
              <li><a href="https://www.google.com/fonts/specimen/Alegreya" target="_blank">Alegreya (font)</a></li>
          </ul>
      </aside><!-- .widget -->
  </div><!-- .widgets -->
</footer>