<footer class="footer-area">
  <div class="widgets">
      <aside class="widget">
          <h3 class="widget-title">The Engineers</h3>
            <ul>
              <li>Miguel Chavez</li>
                <ul>
                    <li>Software Lead</li>
                    <li>Computer Engineering</li>
                </ul>
              <li>Alexis San Javier</li>
                <ul>
                    <li>Web Devloper</li>
                    <li>Computer Engineering</li>
                </ul>
              <li>Giani Francis</li>
                <ul>
                    <li>Integration Specialist</li>
                    <li>Computer Engineering</li>
                </ul>
              <li>Brandon Marcoux</li>
                <ul>
                    <li>Hareware Lead</li>
                    <li>Computer Engineering</li>
                </ul>
          </ul>
      </aside><!-- .widget -->
      <aside class="widget">
            <h3 class="widget-title">What is Seq?</h3>
              <p> An electronic audio sequencer with Bluetooth enabled data transfer. The purpose of an audio sequencer is to allow musicians and hobbyists to develop musical patterns quickly.  The goal is this project is to provide a more cost effective, portable and simple alternative to other audio sequencers in the market.  </p>
        </aside><!-- .widget -->
      <aside class="widget">
          <h3 class="widget-title"> This website</h3>
          <p> The tools used in the creation of this website project were:</p>
          <ul>
              <li><a href="http://atom.io/" target="_blank">Atom</a></li>
              <li><a href="http://emmet.io/" target="_blank">Emmet</a></li>
              <li><a href="https://www.google.com/chrome/" target="_blank">Chrome</a></li>
              <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
              <li><a href="https://www.google.com/fonts/specimen/Arvo" target="_blank">Arvo (font)</a></li>
              <li><a href="https://www.google.com/fonts/specimen/Alegreya" target="_blank">Alegreya (font)</a></li>
          </ul>
      </aside><!-- .widget -->
  </div><!-- .widgets -->
</footer>