<footer class="footer-area">
  <div class="widgets">
      <aside class="widget">
          <h3 class="widget-title">Who is Miguel Chavez?</h3>
            <p> I am a hard working induvial, currently seeking an internship, co-op or entry level job to complement my studies. You can contact me at:  </p>
          <ul>
              <li> Email: mac3@knights.ucf.edu</li>
              <li> Phone: 850.496.1538</li>
              <li> Resume: <a href="web/MiguelChavezResume.pdf"> Here </a></li>
          </ul>
      </aside><!-- .widget -->
      <aside class="widget">
          <h3 class="widget-title"> This website</h3>
          <p> The tools used in the creation of this website project were:</p>
          <ul>
              <li><a href="http://atom.io/" target="_blank">Atom</a></li>
              <li><a href="http://emmet.io/" target="_blank">Emmet</a></li>
              <li><a href="https://www.google.com/chrome/" target="_blank">Chrome</a></li>
              <li><a href="https://jquery.com/" target="_blank">jQuery</a></li>
              <li><a href="https://www.google.com/fonts/specimen/Arvo" target="_blank">Arvo (font)</a></li>
              <li><a href="https://www.google.com/fonts/specimen/Alegreya" target="_blank">Alegreya (font)</a></li>
          </ul>
      </aside><!-- .widget -->
  </div><!-- .widgets -->
</footer>