<section class="banner">
    <div class="centered">
        <h2 class="banner-heading">UCF Senior Design <br>  Group10 - Seq-Web </h2>
        <p class="banner-text">An electronic audio sequencer with Bluetooth enabled data transfer. The purpose of an audio sequencer is to allow musicians and hobbyists to develop musical patterns quickly. The goal is this project is to provide a more cost effective, portable and simple alternative to other audio sequencers in the market. </p>
        </div><!-- .centered -->
</section><!-- .banner -->
<section class="intro">
  <h1 class="intro-title">Audio Sequencer</h1>
  <div class="intro-text columns">
      <p>An Audio Sequencer is a unit which possesses a specific number of segments (usually 8 or 16) and a specific number of channels (typically between 4 and 16).  One can think of this unit as having segments on an x-axis and channels on a y-axis.  The x-axis segments are cycled through repeatedly from left to right with respect to time and each segment can trigger a sound sample contained within the channel.  Conversely, every channel can contain its own sound sample and be triggered at any cycle.  This allows the user to program music, which at it’s very essence, is a sequence of sounds organized relative to time.  This is accomplished by placing a switch/button on each segment that controls its on and off state.
        </p>
      <p>Physical audio sequencers are typically expensive and aimed at more technically inclined musicians. There are cheaper alternatives that exist purely as a software applications. However, they forfeit the excitement and feeling offered by using a physical unit. Physical units typically require users to follow a manual closely in order to take advantage of all the functionalities available on the unit. Additionally, in order to load new sounds onto the unit, it typically requires the use of a cable, or a storage medium such as an SD card.  The typical setup involves a computer with a wired connection, which can be cumbersome.
        </p>
        <p>All this being said, it would be ideal if a physical unit could be of low cost while maintaining a certain level of portability. The main goal of this project is to provide exactly this.  The unit is low cost from a user’s perspective, and it is lightweight and portable, with only a few buttons and controls aside from the sequencer array.  It is also accompanied by a mobile application that allows the user to control what sounds are assigned to which sequencer channel.  These channels are illuminated with LEDs when active and triggered with a physical mechanism.  The unit is also versatile in its output possibilities (multiple output formats – for example speaker, line-level).  Additionally, there is a substantial sound bank accessible to users, along with the ability to contribute to this sound bank with sets of audio samples.  This allows the user to really take ownership of the sounds they create.
          </p>
  </div><!-- .intro-text -->
  <h1 class="intro-title">Engineers</h1>
  <section class="boxes">
      <article class="boxblack double">
          <a href = "//www.miguelchavezucf.com"target="_blank">
              <h2 class="box-title">Miguel Chavez</h2>
              <figure class="featured-image">
                  <img src="../../../assets/img/logo.png" alt="Miguel Chavez">
              </figure>
              <div class="box-text">
                  <p class="box-blurb"> Software Lead </p>
              </div>
          </a>
      </article><!-- .box .double-->
        <article class="boxblack double">
            <a href = "//www.miguelchavezucf.com"target="_blank">
                <h2 class="box-title">Alexis San Javier</h2>
                <figure class="featured-image">
                    <img src="../../../assets/img/logo.png" alt="Alexis San Javier">
                </figure>
                <div class="box-text">
                    <p class="box-blurb"> Web Devloper </p>
                </div>
            </a>
        </article><!-- .box  -->
        <article class="boxblack double">
            <a href = "//www.miguelchavezucf.com"target="_blank">
                <h2 class="box-title">Giani Francis</h2>
                <figure class="featured-image">
                    <img src="../../../assets/img/logo.png" alt="Giani Francis">
                </figure>
                <div class="box-text">
                    <p class="box-blurb"> Integration Specialist </p>
                </div>
            </a>
        </article><!-- .box -->
        <article class="boxblack double">
            <a href = "//www.miguelchavezucf.com"target="_blank">
                <h2 class="box-title">Brandon Marcoux</h2>
                <figure class="featured-image">
                    <img src="../../../assets/img/logo.png" alt="Brandon Marcoux">
                </figure>
                <div class="box-text">
                    <p class="box-blurb"> Hareware Lead </p>
                </div>
            </a>
        </article><!-- .box .double-->
    </section><!-- .boxes -->
  </section><!-- .intro -->
    
